<h2>
  Лучшие турбазы России и СНГ на одном сайте. Легко выбрать, легко забронировать и никакой комиссии!
</h2>
<p><b>Всего турбаз:</b> <%= @hostels_count %></p>
<p><b>Всего городов:</b> <%= @cities_count %></p>
<p><b>Всего регионов:</b> <%= @regions_count %></p>
<p><b>Всего стран:</b> <%= @countries_count %></p>