<table class="table table-striped">
  <thead>
  <tr>
    <% attributes.each do |attribute_name| %>
        <th><%= t attribute_name %></th>
    <% end %>
    <% if user_signed_in? %>
    <th><%=t '.actions', :default => t('helpers.actions') %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% models.each do |model| %>
      <tr>
        <% attributes.each do |attribute_name| %>
          <td><%= attribute_name == :name ? (link_to model[attribute_name], polymorphic_path(model)) : model[attribute_name] %></td>
        <% end %>
        <% if user_signed_in? %>
        <td>
          <%= link_to t('.edit', :default => t('helpers.links.edit')),
                      edit_polymorphic_path(model), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t('helpers.links.destroy')),
                      polymorphic_path(model),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate models, renderer: BootstrapPagination::Rails %>
<% if user_signed_in? %>
<p><%= link_to t('.new', :default => t("helpers.links.new")),
            new_polymorphic_path(model_class),
            :class => 'btn btn-primary' %></p>
<% end %>