<div class="page-header">
  <h1><%= model.name %></h1>
</div>

<dl class="dl-horizontal">
  <% attributes.each do |attribute_name| %>
  <dt><strong><%= t attribute_name %>:</strong></dt>
  <dd><%= model[attribute_name] %></dd>
  <% end %>
</dl>
<h2><%= t :hostels %> региона</h2>
<%= list_view Hostel, model.hostels.paginate(page: params[:page]), [:name] %>

<% if user_signed_in? %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_polymorphic_path(model), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            polymorphic_path(model),
            :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>
<% end %>