<%= form_for @hostel, :html => { :class => "form-horizontal hostel" } do |f| %>

  <% if @hostel.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@hostel.errors.count, "error") %> prohibited this hostel from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @hostel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :distance_to_region_center, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :distance_to_region_center, :class => 'form-control' %>
    </div>
    <%=f.error_span(:distance_to_region_center) %>
  </div>
  <div class="form-group">
    <%= f.label :distance_to_coast, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :distance_to_coast, :class => 'form-control' %>
    </div>
    <%=f.error_span(:distance_to_coast) %>
  </div>
  <div class="form-group">
    <%= f.label :city_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:city_id, City.all, :id, :name, {:prompt => 'Select the city'}, :selected => @hostel.city_id ) %>
    </div>
    <%=f.error_span(:city_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                hostels_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
