<%- model_class = Hostel -%>
<div class="page-header">
  <h1><%= @hostel.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= t :name %>:</strong></dt>
  <dd><%= @hostel.name %></dd>
  <dt><strong><%= t :description %>:</strong></dt>
  <dd><%= @hostel.description %></dd>
  <dt><strong><%= t :distance_to_region_center %>:</strong></dt>
  <dd><%= @hostel.distance_to_region_center %> м</dd>
  <dt><strong><%= t :distance_to_coast  %>:</strong></dt>
  <dd><%= @hostel.distance_to_coast %> м</dd>
  <dt><strong><%= t :city %>:</strong></dt>
  <dd><%= @hostel.city.name %></dd>
</dl>
<p>Бронирование: 33-33-33</p>
<% if user_signed_in? %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              hostels_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_hostel_path(@hostel), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              hostel_path(@hostel),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>
